/*
Jugando con Desgradados CSS
*/
body{
    background-image:linear-gradient(to left, red,pink) ;
}
header{
    border: solid black 0.5rem;
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
    background-image: linear-gradient(to right,red, pink);
}
p{
    border: black solid 0.5rem;
    border-radius: 1.5rem ;
    padding: 1.5rem ;
    margin-left:3rem ;
    margin-right:3rem ;

}
.Parrrafo2{
    background-image:linear-gradient(to right green, white) ;
}
.Parrafo2{
    background-image:radial-gradient(to left green , white);
}
.Parrafo3{
    background-image: linear-gradient(to right green,white);
}

