/*formulario*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contacto{
    background-color: black;
    border: solid 0.3rem black;
    width: 75%;
    margin: auto;
    padding: 0.9rem;
}
.contacto h1{
    color:aliceblue;
    text-align: center;
    padding: 0.6rem;
}
.linea{
    background-color: antiquewhite;
    height: 0.3rem;
    width: 30%;
    margin: auto;
    margin-bottom: 0.6rem;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.formulario > *{
    margin: 0.6rem 0rem 0rem 0rem;
    padding:0.9rem;
    border-radius: 0.6rem;
}