/*
Alicia Somkan
07 11 2024*/
h2{
    text-align: center;
}
header{

    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;

}
section{
    width: 33%;
    float: left;
}

footer{
    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;
    clear: both;

}
